<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <h1><%= @cocktail.name.capitalize %></h1>

</div>

<div class="container">

  <h2>Ingrédients</h2>

  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <div class="col-3">
       <div class="ing">
         <div class="text">
           <%= "#{dose.ingredient.name}  -   #{dose.description}"%>
         </div>

           <%=link_to dose_path(dose), method: :delete,data: { confirm: "Are you sure?" }, action: 'go' do %>
           <i class="far fa-trash-alt"></i>
           <% end %>
       </div>

      </div>
    <% end %>
  </div>

<h2>Add dose</h2>

<div class="form-container">
  <%= simple_form_for [@cocktail, @dose], anchor:'form' do |f| %>
    <%= f.input :description, label: 'Quantité'%>
    <%= f.association :ingredient, as: :select %>

    <%= f.submit class: "btn bouton_custom" %>
  <% end %>
</div>


</div>

<br>



