<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <h1><%= @cocktail.name.capitalize %></h1>

</div>

<div class="container">
  <h2>Ingrédients</h2>
  <ul>
    <% @cocktail.doses.each do | dose |%>
    <div class="ing-list">
      <p>
        <div class="text">
          <%= "#{dose.description} de #{dose.ingredient.name}"%>
        </div>
          <%=link_to dose_path(dose), method: :delete,data: { confirm: "Are you sure?" }, action: 'go' do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
      </p>
    </div>
    <% end %>
  </ul>


  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: 'bouton_custom' %>

</div>





